[user]
	name = Võ Xuân Hùng
	email = hungvx.dev@gmail.com
	useconfigonly = true

# job needs, like workspace/* so all included projects
[includeIf "gitdir:~/Work/Hodfords/"]
  path = ~/Work/Hodfords/git/.gitconfig

[core]
	editor = nvim
  autocrlf = input

[commit]
  template = ~/.config/git/.gitmessage

[push]
  default = current
  autoSetupRemote = true

[credential "https://github.com"]
  username = hungvx-dev
[init]
	defaultBranch = master
[web]
	browser = google-chrome
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[sequence]
  editor = nvim
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[rerere]
	enabled = 1
	autoupdate = 1
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[delta]
  navigate = true
	features = line-numbers decorations
	line-numbers = true
  side-by-side = true
  line-numbers = true
[delta "decorations"]
	minus-style = red bold normal
	plus-style = green bold normal
	minus-emph-style = white bold red
	minus-non-emph-style = red bold normal
	plus-emph-style = white bold green
	plus-non-emph-style = green bold normal
	file-style = yellow bold none
	file-decoration-style = yellow box
	hunk-header-style = magenta bold
	hunk-header-decoration-style = magenta box
	minus-empty-line-marker-style = normal normal
	plus-empty-line-marker-style = normal normal
	line-numbers-right-format = "{np:^4}│ "
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

