[user]
  name = Võ Xuân Hùng
  email = hungvx.dev@gmail.com
  useConfigOnly = true

# job needs, like workspace/* so all included projects
[includeIf "gitdir:~/Work/Hodfords/"]
  path = ~/Work/Hodfords/git/.gitconfig

[init]
  defaultBranch = main

[core]
  editor = nvim
  autocrlf = false
  pager = delta

[commit]
  template = ~/.config/git/.gitmessage

[push]
  default = current
  autoSetupRemote = true

[merge]
  tool = nvim
  conflictstyle = diff3

[web]
  browser = google-chrome

[interactive]
  diffFilter = delta --color-only --features=interactive

[diff]
  tool = nvimdiff
  colorMoved = default
[difftool]
  prompt = true
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[rerere]
  enabled = 1
  autoupdate = 1

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[color]
  ui = auto
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold

[delta]
  navigate = true
  ; side-by-side = true
  line-numbers = true
  features = tokyonight

[delta "tokyonight"]
  minus-style                   = syntax "#37222c"
  minus-non-emph-style          = syntax "#37222c"
  minus-emph-style              = syntax "#713137"
  minus-empty-line-marker-style = syntax "#37222c"
  commit-decoration-style       = "#11ce16" box
  line-numbers-minus-style      = "#b2555b"
  file-style                    = omit
  hunk-header-decoration-style  = "#1688f0" box ul
  hunk-header-file-style        = "#ffd21a" ul bold
  hunk-header-line-number-style = "#ffd21a" box bold
  hunk-header-style             = file line-number syntax bold italic
  plus-style                    = syntax "#003300"
  plus-non-emph-style           = syntax "#003300"
  plus-emph-style               = syntax "#2c5a66"
  plus-empty-line-marker-style  = syntax "#20303b"
  line-numbers-plus-style       = "#266d6a"
  line-numbers-zero-style       = "#3b4261"
  whitespace-error-style        = "#280050"
